h1 {
	font-family: raleway; 
	color: white; 
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	/*background-color: #F15B31;*/
	/*border-color: #F15B31; */
}

h2 {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "DROID SERIF";
	line-height: 26px;
	font-size: 18px;

}

body {
	text-align: center;
	margin: 0;
}

a {
	text-decoration:none;
	font-family: raleway; 
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	border-bottom: 2px solid transparent;
}

a:hover {
		border-color: white; 

}

header {
		 background-color: #F15B31;
		 color: #FFFFFF;
		 padding-top: 30px;
		 padding-bottom: 30px;
		 padding-right: 20px;
		 padding-left: 20px; 
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding-bottom: 20px;
	padding-top: 20px;


}

main {
	width: 850px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
	margin-bottom: 35px;

}

img {
	margin-top: 40px; 
	margin-left: 8px; 
	margin-right: 8px; 

}

footer {
	text-transform: uppercase;
	padding-left: 20px; 
	padding-right: 20px; 
	background-color: #0D2C40;
	color: white;
	font-size: 14px; 
	letter-spacing: .08em; 
	font-weight: 500; 

}
.copyright {
	float: left; 
	/*font-family: raleway; */

}
.message {
float: right; 
/*font-family: raleway; */

}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31; 
	font-weight: 700; 

}



